language: node_js
node_js:
  - '0.10'
  - '0.11'
  - '0.12'
  - '4.0'
  - "4.1"
  - "4.2"
  - "4"
  - "5.1"
  - "5.2"
  - "5.3"
  - "5.4"
  - "5.5"
  - "5.6"
  - "5.7"
  - "5.8"
  - "5.9"
  - "5"
  - "6"
after_script: 'npm install coveralls && cat ./coverage/lcov.info | node_modules/.bin/coveralls'
